.navCon {
  display: flex;
  justify-content: space-between;
  background-color: #108070;
}

p {
  padding-top: 10px;
  font-family: Arial Narrow, sans-serif;
  font-size: 25px;
  color: white;
}

.Nav {
  padding-top: 28px;
}

.nav-links {
  list-style-type: none;
}

li {
  display: inline;
}

li a {
  padding: 5px;
  font-family: Arial Narrow, sans-serif;
  font-size: 15px;
  color: white;
}
